body {
  font-size: 14px;
}

#Header {
  padding: 40px 60px;
}

#Header .logo {
  width: 182px;
}

#Header .menus ul {
  margin-top: 14px;
}

#Header .menus ul li {
  font-size: 18px;
  margin-left: 40px;
}

#Main .scene {
  padding: 94px 90px 40px 90px;
}

#Main .scene1 .first img {
  height: 160px;
  width: 530px;
}

#Main .scene1 .second h2 {
  font-size: 100px;
}

#Main .scene1 .second p {
  font-size: 18px;
  margin-top: 40px;
}

#Main .scene1 .scroll::after {
  height: 60px;
  margin: 15px auto 0 auto;
}

#Main .scene2 .box:first-child {
  padding-right: 30px;
}

#Main .scene2 .box:last-child {
  padding-left: 30px;
}

#Main .scene2 .box h2 {
  font-size: 72px;
  margin-bottom: 50px;
}

#Main .scene2 .box p {
  font-size: 14px;
  margin-bottom: 30px;
}

#Main .scene3 .world {
  width: 1360px;
}

#Main .scene3 .world .headline h2 {
  font-size: 72px;
  margin-bottom: 30px;
}

#Main .scene3 .world .headline p {
  font-size: 14px;
}

#Main .scene3 .world dl img {
  width: 60px;
}

#Main .scene3 .world dl dt {
  font-size: 15px;
  padding: 5px 0px;
}

#Main .scene3 .world dl .more {
  border-radius: 10px;
  font-size: 10px;
  width: 80px;
}

#Main .scene4 .world {
  width: 1360px;
}

#Main .scene5 {
  padding: 94px 0px 40px 0px;
}

#Main .scene5 .box:first-child {
  padding: 0px 30px 70px 120px;
}

#Main .scene5 .box:last-child {
  padding-left: 30px;
}

#Main .scene5 .box .headline h2 {
  font-size: 72px;
  margin-bottom: 50px;
}

#Main .scene5 .box .headline .number {
  font-size: 72px;
  margin-top: -20px;
}

#Main .scene5 .box .headline .number div:nth-child(1) {
  margin: 0px 0px 0px 0px;
}

#Main .scene5 .box .headline .number div:nth-child(2) {
  margin: 36px 0px 0px 0px;
}

#Main .scene5 .box .headline .number div:nth-child(3) {
  margin: 72px 0px 0px 0px;
}

#Main .scene5 .box p {
  font-size: 14px;
}

#Main .scene5 .box .move {
  right: 30px;
}

#Main .scene5 .box .move li {
  height: 50px;
  width: 50px;
}

#Main .scene5 .box .slider {
  width: 420px;
}

#Main .scene5 .box .slider dl {
  margin: 0px 60px 0px 0px;
}

#Main .scene5 .box .slider dl .image {
  margin-bottom: 24px;
}

#Main .scene5 .box .slider dl dt {
  font-size: 16px;
  margin-bottom: 12px;
}

#Main .scene5 .box .slider dl dd {
  font-size: 14px;
}

#Main .scene6 {
  padding: 0px 0px 0px 0px;
}

#Main .scene6 > .wrapper {
  padding: 94px 80px 40px 80px;
}

#Main .scene6 h2 {
  font-size: 72px;
  margin: 30px 0px 60px 120px;
}

#Main .scene6 ul li {
  margin-bottom: 30px;
}

#Main .scene6 ul li .image img {
  height: 44px;
  width: 60px;
}

#Main .scene6 ul li dl {
  margin: 0px 15px;
}

#Main .scene6 ul li dl dt {
  font-size: 16px;
  margin: 10px 0px;
}

#Main .scene6 ul li dl dd {
  font-size: 14px;
}

#Main .scene7 .box:nth-child(2) {
  padding: 0px 15px 0px 90px;
}

#Main .scene7 .box:last-child {
  padding-left: 30px;
}

#Main .scene7 h2 {
  font-size: 72px;
  margin: 0px 0px 30px 0px;
}

#Main .scene7 ul li dl dt {
  font-size: 14px;
  padding: 20px 30px 20px 0px;
}

#Main .scene7 ul li dl dd {
  font-size: 14px;
  padding: 20px 0px 20px 0px;
}

#Main .scene7 ul li dl dd .mail {
  font-size: 16px;
  padding: 10px 70px;
}

#Main .scene7 .chart dt {
  font-size: 16px;
  padding: 12px 0px 12px 0px;
  width: 300px;
}

#Main .scene7 .chart dd ul {
  width: 300px;
}

#Main .scene7 .chart dd ul li {
  font-size: 14px;
  padding: 60px 10px;
  width: 42px;
}

#Main .scene8 {
  padding: 94px 0px 0px 0px;
}

#Main .scene8 h2 {
  font-size: 72px;
  margin: 0px 0px 0px 0px;
}

#Main .scene8 footer {
  height: 300px !important;
  padding: 70px 10px 70px 10px;
}

#Main .scene8 footer .logo {
  margin-bottom: 50px;
}

#Main .scene8 footer .logo img {
  width: 300px;
}

#Main .scene8 footer small {
  font-size: 12px;
}

#Modal::before {
  width: 60px;
}

#Modal::after {
  width: 60px;
}

#Modal > .inner::before {
  min-height: 60px;
}

#Modal > .inner::after {
  min-height: 60px;
}

#Modal > .inner .contents {
  padding: 60px;
}

#Modal > .inner .contents section .photo {
  margin-right: 60px;
}

#Modal > .inner .contents section .photo img {
  width: 250px;
}

#Modal > .inner .contents section .photo a {
  border-radius: 15px;
  font-size: 14px;
  height: 30px;
  margin: 20px auto;
  width: 200px;
}

#Modal > .inner .contents section .explain .country img {
  height: 44px;
  width: 60px;
}

#Modal > .inner .contents section .explain .country dl {
  margin-left: 20px;
}

#Modal > .inner .contents section .explain .country dl dt {
  font-size: 32px;
}

#Modal > .inner .contents section .explain .country dl dd {
  font-size: 14px;
}

#Modal > .inner .contents section .explain p {
  margin-top: 30px;
}

/*# sourceMappingURL=../map/limit/style.css.map */
