<img class="close" src="/assets/img/sp/icon_close.png">
<section>
	<div class="photo pc">
		<img src="/assets/img/banner_germany.jpg">
		<a target="_blank" href="https://www.headwave.jp/">headwave website</a>
	</div>
	<div class="explain">
		<div class="country">
			<img src="/assets/img/flag_germany.png">
			<dl>
				<dt>Belrin</dt>
				<dd>Germany</dd>
			</dl>
		</div>
		<div class="photo sp">
			<img src="/assets/img/banner_germany.jpg">
			<a target="_blank" href="https://www.headwave.jp/">headwave website</a>
		</div>
		<p>ベルリンのベンチャー企業「HEADWAVE」は、オートバイのためのヘルメットオーディオを開発、提供する企業です。</p>
		<p>”Touring × Music = HEADWAVE” をテーマに「音質」「デザイン」「耐久性」全ての機能で驚きを与え、全く新しいツーリングを実現させることを目指しています。ハブアナイスはこの新しい技術やサービスを日本で広めたいという思いから日本での総代理店として契約を結んでいます。</p>
	</div>
</section>