<img class="close" src="/assets/img/sp/icon_close.png">
<section>
	<div class="photo pc">
		<img src="/assets/img/banner_japan.jpg">
		<a target="_blank" href="https://www.libere-official.com/">libere website</a>
	</div>
	<div class="explain">
		<div class="country">
			<img src="/assets/img/flag_japan.png">
			<dl>
				<dt>Osaka</dt>
				<dd>Japan</dd>
			</dl>
		</div>
		<div class="photo sp">
			<img src="/assets/img/banner_japan.jpg">
			<a target="_blank" href="https://www.libere-official.com/">libere website</a>
		</div>
		<p>ハブアナイスは関西を中心にガソリンスタンドなどの石油関連事業会社を複数社運営しています。</p>
		<p>また、ユースカルチャーを代表するブランドのひとつであるユニセックスブランド「リベーレ」、はぐきケア専門の歯磨き粉を提供する企業である「スマイルサイエンス」など多彩な業界のサービスを展開しています。</p>
			
	</div>
</section>