<img class="close" src="/assets/img/sp/icon_close.png">
<section>
	<div class="photo pc">
		<img src="/assets/img/banner_philippines.jpg">
		<a target="_blank" href="http://centuryspire.com/">century spire website</a>
		<a target="_blank" href="http://moviestarscafe.com/">movie stars cafe website</a>
	</div>
	<div class="explain">
		<div class="country">
			<img src="/assets/img/flag_philippines.png">
			<dl>
				<dt>Manila</dt>
				<dd>Philippines</dd>
			</dl>
		</div>
		<div class="photo sp">
			<img src="/assets/img/banner_philippines.jpg">
			<a target="_blank" href="http://centuryspire.com/">century spire website</a>
			<a target="_blank" href="http://moviestarscafe.com/">movie stars cafe website</a>
		</div>
		<p>ハブアナイスがフィリピンに設立したリアルエステート企業が「マニライズエステート」です。「マニライズエステート」では、フィリピンのマカティ市にある高級高層ビル郡であるセンチュリーシティに2020年完成予定の「センチュリースパイアービル」でのレジデンスサービスを提供いたします。</p>
		<p>また、ハリウッド映画のキャラクターの衣装を着た俳優や女優によるショーやサービスを楽しむことができるレストランである「ムービースターズカフェ」ともパートナー契約を結んでいます。</p>
		
	</div>
</section>