<img class="close" src="/assets/img/sp/icon_close.png">
<section>
	<div class="photo pc">
		<img src="/assets/img/banner_korea.jpg">
	</div>
	<div class="explain">
		<div class="country">
			<img src="/assets/img/flag_korea.png">
			<dl>
				<dt>Seoul</dt>
				<dd>SOUTH KOREA</dd>
			</dl>
		</div>
		<div class="photo sp">
			<img src="/assets/img/banner_korea.jpg">
		</div>
		<p>アジアのファッションデザイン最先端である韓国ソウルのアパレルデザイン会社「マーベリッククリエイティブ」とハブアナイスはデザイン契約を結んでいます。</p>
	</div>
</section>