<img class="close" src="/assets/img/sp/icon_close.png">
<section>
	<div class="photo pc">
		<img src="/assets/img/banner_usa.jpg">
		<a target="_blank" href="https://www.verlocal.com/">verlocal website</a>
	</div>
	<div class="explain">
		<div class="country">
			<img src="/assets/img/flag_usa.png">
			<dl>
				<dt>Silicon Valley</dt>
				<dd>United State</dd>
			</dl>
		</div>
		<div class="photo sp">
			<img src="/assets/img/banner_usa.jpg">
			<a target="_blank" href="https://www.verlocal.com/">verlocal website</a>
		</div>
		<p>レッスンやワークショップ、ツアーのマーケットプレイスであるサンフランシスコのスタートアップ企業が「Verlocal」です。</p>
		<p>「Verlocal」は2013年に米国サンフランシスコで創業したベンチャー企業です。主に個人と個人を繋ぐシェアリングエコノミーのプラットフォームを運営しています。2015年のサービスリリース以来、累計30万のユーザーを獲得し、現在では米国だけでなくカナダやシンガポールでもサービスを拡大しています。</p>
		<p>「教えたい」人と「教わりたい」人を効率的に繋ぐ橋渡し役をして、地域がもっと活発になるようなコミュニティを形成を目指しており、ハブアナイスとはパートナー契約を結んでいます。</p>
	</div>
</section>